spring:
  profiles:
    active: ENV
  threads:
    virtual:
      enabled: true
  datasource:
    driver-class-name: ${DATASOURCE_DRIVER_CLASS_NAME:org.postgresql.Driver}
    url: DB_URL
    username: DB_USER
    password: DB_PW
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        show_sql: false
        dialect: ${HIBERNATE_DIALECT:org.hibernate.dialect.PostgreSQLDialect}
  modulith:
    events:
      republish-outstanding-events-on-restart: true
      externalization:
        enabled: true
      completion-mode: update
springdoc:
  swagger-ui:
    path: ${SWAGGER_UI_PATH:/swagger-ui.html}
    enabled: ${SWAGGER_UI_ENABLED:true}
service:
  authorization:
    secret-key: ${AUTHORIZATION_SECRET_KEY:g8rrLgXxe3/OF+mwPQGINe5pxxh5AQddN6gNFE3iueY=}
    access-timeout: ${AUTHORIZATION_ACCESS_TIMEOUT:86400000}
    refresh-timeout: ${AUTHORIZATION_REFRESH_TIMEOUT:604800000}
  firebase:
    file-path: ${FIREBASE_FILE_PATH:src/main/resources/firebase/}
    file-name: ${FIREBASE_FILE_NAME:firebase.json}
